  <!-- INDEX IMAGE -->
<div id="page-wrapper">

    <!-- NAVIGATION START -->
    <nav id="navigation" class="navbar navbar-fixed-top center-menu" role="navigation">
      <div class="container navbar-container">
        <div class="">
          <ul class="nav navbar-nav">
            <li id="home-click" class="page-scroll">
              <a href="">Home</a>
            </li>

            <li id="chair-click" class="page-scroll">
              <a href="">Chair</a>
            </li>

            <li id="table-click" class="page-scroll">
              <a href="">Table</a>
            </li>


            <li id="other-click" class="page-scroll">
              <a href="">Other</a>
            </li>

            <li id="designers-click" class="page-scroll">
              <a href="">Designers</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  <!-- //NAVIGATION END -->

    <div id="banner-area-wrapper">
        <div id="banner-area">
            <div class="homepage-dynamic-image" style="">
              <%= image_tag('ScoutGather.jpg') %>
              <!-- <%= image_tag('Valex_homebg.jpg') %> -->
                <div id="banner-title">
                  <!-- <h1 id="page-title" class="page-title">Scout & Gather</h1> -->
                </div>
              <div class="homepage-overlay"></div>
            </div>
        </div>
    </div>

  <!-- /// BEGINNING OF PRODUCT LIST -->
    <div id="products-container">
        <div class="page-wrapper-text">
            <div class="wrapper-text">
              <h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</h4>
            </div>
        </div>
        <!-- /// SIMPLE HORIZONTAL AS SEPARATION -->
        <div class="horizontal-break">
          <hr>
        </div>

      <!-- /// PRODUCT -->
      <div id="product" class="vx-col-block ">
          <% @furnitures.each do |furniture| %>
            <div class="product-float">

              <div class="vls-block">
                  <div class="product-title">
                      <h2><%= furniture.title %></h2>
                  </div>
              </div>

              <div class="vls-block">
                  <div class="product-pic">
                      <%= image_tag(furniture.img) %>
                  </div>
              </div>

              <div class="vls-block">
                  <div class="product-description">
                      <p>
                          <%= furniture.description %>
                      </p>
                  </div>
              </div>

              <div class="vls-block">
                  <div class="product-more">

                  </div>
              </div>
            </div>
          <% end %>
      </div>
      <!-- /// END OF PRODUCT -->

    </div>
  <!-- /// END OF PRODUCT LIST -->


    <!-- /// SIMPLE HORIZONTAL AS SEPARATION -->
    <div class="horizontal-break">
        <hr>
    </div>

    <!-- FOOTER -->
    <div>
      <div>
        
      </div>
    </div>
</div>
  <!-- END OF PAGE WRAPPER -->
